@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  font-family: "Inter", "Inter var", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.02rem;
}

a {
  color: inherit;
  text-decoration: none;
}
